header{
    padding: 5px 15px 5px 15px;
    background-color: orange;
}

section, aside{
    padding: 15px;
    font-size: 1.3em;
}

footer{
    padding: 15px;
    background-color: black;
    color: white;
}

h1{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.btn-secondary{
    background-color: gray;
    color: white;
}

.btn-secondary:hover{
    background-color: darkslategray;
    color: white;
}

.btn-secondary, .btn-primary{
    margin-top: 15px;
}