header{
    padding: 5px 7.8px 5px 7.8px;
    background-color: #C90066;
    color: #fff;
}
header h1{
    font-size: 2em;
}

section, aside{
    padding: 7.8px;
    font-size: 1.3em;
}

footer{
    margin-top: 7.8px;
    padding: 7.8px;
    background-color: #014AB2;
    color: white;
    text-align: center;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: underline;
}

h3{
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
}

.btn-primary{
    background-color: #075AD7;
    border-color: #075AD7;
    height: 40px;
}

.btn-primary:focus,
.btn-primary:hover{
    background-color: #014AB2;
    border-color: #014AB2;
}

.btn-secondary{
    background-color: #F5F5F5;
    color: #333;
    height: 40px;
}

.btn-secondary:hover{
    background-color: #63666A;
    color: white;
}

.btn-secondary, .btn-primary{
    margin-top: 7.8px;
}

img{
    border-radius: 50%;
}

a{
    color:#075AD7;
    text-decoration: underline;
}


/*Dropdown style starts here*/

button[aria-haspopup="true"] {
  position: relative;
  padding: 5px 10px;
  width: 100%;
  border-radius: 0;
  text-align: left;
    background-color: #075AD7;
    color: #fff;
}

button[aria-haspopup="true"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: currentColor;
  border-bottom: 0;
  content: "";
}

button[aria-haspopup="true"][aria-expanded="true"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: currentColor;
  content: "";
}

button[aria-haspopup="true"] + [role="listbox"] {
  position: absolute;
  margin: 0;
  width: 91.5%;
  max-height: 10em;
  border-top: 0;
  overflow-y: auto;
    background-color: #075AD7;
    color: #fff;
    z-index: 100;
}

.contentLabel{
    font-weight: 100;
}

[role="listbox"] {
  margin: 1em 0 0;
  padding: 0;
  min-height: 18em;
  border: 1px solid #aaa;
  background: white;
}

[role="option"] {
  position: relative;
  display: block;
  padding: 0 1em 0 1.5em;
  line-height: 1.8em;
}

[role="option"].focused {
  background: #014AB2;
}

[role="option"][aria-selected="true"]::before {
  position: absolute;
  left: 0.5em;
  content: "✓";
}

.hidden {
  display: none;
}
.btn{margin-top: 7.8px;}

.table_parent_div{
    border: 1px solid #014AB2;
    padding: 7.8px;
}

.table_description_header{
    margin-top: 7.8px;
    color: #014AB2;
    text-decoration: underline;
    font-size: 1.4em;
}

.table_header_div{
    color: #fff;
    background: #014AB2;
    text-align: center;
    font-size: 1.2em;    
}

.table_body_div{
    color: #fff;
    background: #075AD7;
    text-align: center;
    font-size: 1.2em;
} 

.col-xs-3{
    border: 1px solid #fff;
}

/*style for menu*/
ul[role="menubar"] {
  margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
  padding: 10px;
  font-size: 110%;
  list-style: none;
  background-color: #014AB2;
    font-size: 1.3em;
}

ul[role="menubar"] [role="menuitem"],
ul[role="menubar"] [role="separator"] {
  padding: 0.25em;
  background-color: #014AB2;
  border: 2px solid #014AB2;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"]:hover,
ul[role="menubar"] [role="separator"]:focus,
ul[role="menubar"] [role="separator"]:hover {
  background-color: #075AD7;
  color: #fff;
}

ul[role="menubar"] a[role="menuitem"] {
  text-decoration: none;
  color: #fff;
}

ul[role="menubar"] li {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] > li {
  display: inline;
  position: relative;
}

ul[role="menubar"] > li > a::after {
  //content: url('../assets/down-arrow-brown.png');
  padding-left: 0.25em;
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  top: -2px;
  left: 0;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] ul[role="menu"] li a {
  display: block;
  width: 10em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul[role="menubar"] ul[role="menu"] a[aria-haspopup="true"]::after {
  //content: url('../assets/right-arrow-brown.png');
  padding-right: 2em;
}

/*style for drag and drop starts here*/
/* draggable targets */
[data-draggable="target"]
{
	float:left;
	list-style-type:none;
	
	width:100%;
	height:7.8em;
	overflow-y:auto;
	
	margin:0em 2em 0.5em 0;
	padding:0.5em;
	
	border:2px solid #014AB2;
	border-radius:0.2em;
	
	background:#014AB2;
	color:#fff;
}

/* drop target state */
[data-draggable="target"][aria-dropeffect="move"]
{
	border-color:#014AB2;

	background:#014AB2;
}

/* drop target focus and dragover state */
[data-draggable="target"][aria-dropeffect="move"]:focus,
[data-draggable="target"][aria-dropeffect="move"].dragover
{
	outline:none;
	
	box-shadow:0 0 0 1px #fff, 0 0 0 3px #68b;
}

/* draggable items */
[data-draggable="item"]
{
	display:block;
	list-style-type:none;
	
	margin:0 0 2px 0;
	padding:0.2em 0.4em;
	
	border-radius:0.2em;
	
	line-height:1.3;
}

/* items focus state */
[data-draggable="item"]:focus
{
	outline:none;
	
	box-shadow:0 0 0 2px #68b, inset 0 0 0 1px #ddd;
}

/* items grabbed state */
[data-draggable="item"][aria-grabbed="true"]
{
	background:#075AD7;
	color:#fff;
}

span.required, .errorDiv{
    color: red;
}

.errorDiv ul{
    padding-left: 7.8px;
}

.displayNone{
    display: none;
}

/*style for tabs starts here*/

  .accessibleTabsSection ul {
    padding-left: 0;
    margin-top: 0;
  }

  .accessibleTabsSection ul li{
    float: left;
    list-style-type: none;
    width: 33.33%;
    display: inline-block;
    line-height: 3;
    background-color: #014AB2;
    color: #fff;
    text-align: center;
      border-bottom: 1px solid #014AB2;
  }

  .accessibleTabsSection ul li:focus, .accessibleTabsSection ul li:hover {
    background-color: #075AD7;
    color: white;
  }

  .accessibleTabsSection ul li.active {
    background-color: #075AD7;
    color: white;
  }

  .accessibleTabsSection .panels {
    clear: both;
    position: relative;
    height: 352px;
  }

  .accessibleTabsSection article {
    background-color: #075AD7;
    color: white;
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
      width: 100%;
    height: 352px;
  }

  .accessibleTabsSection .active-panel {
    z-index: 1; 
  }
.productsDiv{
    border: 1px solid #075AD7;
    padding: 7.8px;
    margin-top: 7.8px;
}

.ImageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*code for horizontal progress bar starts here*/
.progress{
    height: 30px;
    background-color:#222D65;
}
.progress-bar{
    background-color: #2997D8;
    line-height: 30px;
}

/*code for circular progress bar starts here*/
.circular{
  height: 100px;
  width: 100px;
  position: relative;
}
.circular .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.circular .inner{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
.circular .circle{
  z-index: 1;
  box-shadow: none;
}
.circular .currentValue{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #222D65;
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #253B80;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}
.circle .bar .progress, .dot span{
  background: #2997D8;
}
.circle .left .progress{
  z-index: 1;
  animation: left 7.8s linear both;
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
}
.circle .right .progress{
  animation: right 7.8s linear both;
  animation-delay: 7.8s;
}
@keyframes right {
  100%{
    transform: rotate(180deg);
  }
}
.circle .dot{
 /* z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  animation: dot 8s linear both;
  transform-origin: 0% 50%;*/
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@keyframes dot{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}

.activeProgressDiv{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 25%;
    transform: translate(0%, -50%);
    z-index: 100;
    height: 100%;
}

.inactiveStyle{
    background-color:#8080806b;
	opacity:0.3;
	z-index:99;
}


/*style for Step progress bar starts here*/
.progressDiv{
    margin-top: 15px;
    margin-bottom: 15px;
}
#stepProgressBar  {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	width:  100%;
	margin:  0  auto;
	margin-bottom:  40px;
	margin-top:  40px;
}

#stepProgressBar ol{
    width: 100%;
    padding-left: 0px;
}

#stepProgressBar li{
    display: inline-block;
    width: 24%;
}

.step-container  {
text-align:  center;
}

.step-text  {
margin-bottom:  10px;
color:  #53565A;
}


.step-icon {
	border: 1px solid #53565A;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	color: #53565A;
	display: inline-block;
	position: relative;
	transition: background-color 500ms;
  line-height:40px;
}


.step-container.is-complete .step-icon  {
	color:  white;
	border: 1px solid #222D65;
	background-color:  #222D65;
}
.step-container.is-current .step-icon  {
	color:  white;
	border: 1px solid #7cb342;
	background-color:  #7cb342;
}

.step-icon::after {
	content: '';
	position: absolute;
	bottom: 20px;
	height: 1px;
	width: 110px;
    left: 38px;
	background-color: #53565A;
}

.step-container.is-current .step-icon::after {
	content: '';
	position: absolute;
	bottom: 20px;
	height: 1px;
	width: 110px;
    left: 38px;
	background-color: #7cb342;
}

.step-icon.lastStep::after {
	content: '';
	position: absolute;
	bottom: 20px;
	height: 1px;
	width: 132px;
	background-color: #fff !important;
}

.step-container.is-complete .step-icon::after {
	content: '';
	position: absolute;
	bottom: 20px;
	height: 1px;
	width: 132px;
	background-color: #222D65;
}

.step-container.is-current .step-icon::before {
    content: '';
    position: absolute;
    top: 50px;
    height: 2px;
    width: 100%;
    right: -2px;
    background-color: #7cb342;
}


/* Base styles and helper stuff */
.hidden  {
	display:  none;
}
 
button  {
	padding:  5px  10px;
	border:  1px  solid  black;
	transition:  250ms background-color;
}

button:hover  {
	cursor:  pointer;
	background-color:  black;
	color:  white;
}

button:disabled:hover  {
	opacity:  0.6;
	cursor:  not-allowed;
}

.text-center  {
	text-align:  center;
}
  
.container  {
	max-width:  400px;
	margin:  0  auto;
	margin-top:  20px;
	padding:  40px;
}