header{
  padding: 5px 15px 5px 15px;
  background-color: #C90066;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 15px;;
}
header h1{
  font-size: 2em;
} 

.skipToMainContent{
  background-color: #222D65;
  color: #fff;
  left: 50%;
  position: absolute;
  padding:10px;
  transform: translate(-50%,-100%);
  transition: transform 0.3s;
  z-index: 100;
  font-size: 24px;
}

.skipToMainContent:focus{
  transform: translate(-50%,0%);
  color: #fff;
}